@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --themeBg: #0a0a0a;
  --borderCommon: rgb(139, 139, 139);
  --textColor: white;
}

:root {
  margin: 0 !important;
  padding: 0 !important;
}

.link {
  text-decoration: none;
  color: inherit;
}

.txtInLink {
  color: inherit;
}

.body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}